head
	meta(name='viewport', content='width=device-width, initial-scale=1.0', charset="UTF-8")
	title Marker
body
	.main
	+sidebar
	+graphspace

template(name="sidebar")
	.sidebar
		button.edit
			| EDIT
		#editor
		button.gui.top-btn
			| GUI
		button.text.top-btn.top-btn-active
			| TEXT
		button.import.bot-btn
			| IMPORT DATA
		button.shoot.bot-btn
			| SHOOT

template(name="graphspace")
	.graph