head
	meta(name='viewport', content='width=device-width, initial-scale=1.0', charset="UTF-8")
	title Marker
body
	.main
	.red
	.blue
	+sidebar

template(name="sidebar")
	.sidebar
		button.edit
			| EDIT
		button.import.bot-btn
			| IMPORT DATA
		button.shoot.bot-btn
			| SHOOT