// Font
default-font = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

// Color
buttonColor = #5D437D
buttonHoverColor = #7E699A
buttonBorderColor = #452B66
buttonColor2 = #26684C
buttonHoverColor2 = #659C84
buttonBorderColor2 = #3E7F63

lightColor = #f1f1f1
darkColor = #424242