// Font
defaultFont = avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

modal = rgba(200,90,90,1)

background = white
foreground = black

// Color
buttonColor = #5D437D
buttonBackground = #f2f2f2
buttonForeground = #232323
buttonHoverColor = modal

buttonBorderColor = #452B66
buttonColor2 = #246147
buttonHoverColor2 = #3A775D
buttonBorderColor2 = #134C34

lightColor = #f1f1f1
darkColor = #424242