// Font
default-font = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

// Color
buttonColor = #5D437D
buttonHoverColor = #7E699A
buttonBorderColor = #452B66
buttonColor2 = #246147
buttonHoverColor2 = #3A775D
buttonBorderColor2 = #134C34

lightColor = #f1f1f1
darkColor = #424242