// @import '../modules/_variables'
// @import '../jeet/index'

html, body
	margin 0
	padding 0
	
body
	height 100vh
	width 100vw
	background lightColor
	
button
	cursor pointer
	background buttonBackground
	color buttonForeground
	margin 0
	white-space nowrap
	outline none
	border none
		
button:hover
	background: buttonHoverColor
	
.flex-grid
	// 