// @import '../modules/_variables'
// @import '../jeet/index'

html, body
	margin 0
	padding 0
	
body
	height 100vh
	width 100vw
	background lightColor
	
button
	transition 0.2s
	width 150px
	white-space nowrap
	background buttonColor
	color lightColor
	font-weight bold
	outline none
	border-radius 10px
	border none
	border-bottom 3px solid buttonBorderColor
	padding 20px 40px
	cursor pointer
		
button:hover
	background: buttonHoverColor